{% extends 'base.html' %}

{% block content %}

    <div class="row mt-3">
        <div class="col-2">
            <img src="{{ product.icon.url }}" alt="img-fluid">
        </div>
        <div class="col-10">
            <h2><a href="{{ product.url }}">{{ product.title }}</a></h2>
        </div>

    </div>
    <div class="row mt-3">
        <div class="col-8 border-secondary  card">
            <img class="rounded mx-auto d-block img-fluid" src="{{ product.image.url }}" alt="img-fluid">
        </div>
        <div class="col-4">
            <a href="javascript:{document.getElementById('upvote').submit()}">
                <button class="btn btn-primary btn-lg btn-block"><i class="far fa-thumbs-up"></i>
                    Upvote {{ product.votes_total }}</button>
            </a>
        </div>

    </div>

    <div class="row">
        <div class="col-4">
            <h4>Hunted by {{ product.hunter.username }}</h4>
        </div>
        <div class="col-4 text-right image-center">
            <h4>{{ product.pub_date_pretty }}</h4>
        </div>

    </div>

    <div class="row mt-3">
        <div class="col-8">
            <p>Hunted by {{ product.body }}</p>
        </div>
    </div>

    <form id="upvote" action="{% url 'upvote' product.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden">
    </form>

{% endblock %}
